*{
    margin: 0;
    padding: 0;

}

.flexslider{
    width: 100%;
    position: relative;
    font: 16px;
    min-height: 40.62em;
}
.slides{
    overflow: hidden;
}

.slides img{
    width: 100%;
}

.slides,
.flex-control-nav,
.flex-direction-nav{
    margin:0;
    padding: 0%;
    list-style: none;
}

.flex-control-nav{
    width: 100%;
    text-align: center;
}

.flex-control-nav li{
    display: inline-block;
    margin: 0 6px;
}

.flex-control-nav li a{
    display: block;
    background: #777777;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    text-indent: -9999px;
}

.flex-control-nav li a:hover{
    background: #2e2e2e;
}

.flex-control-nav li a.flex-active{
    background: #2e2e2e;
}

.flex-direction-nav a{
    display: block;
    text-decoration: none;
    position: absolute;
    top: 50%;
    z-index: 999;
}

.flex-direction-nav .flex-prev{
    left: 0;
}

.flex-direction-nav .flex-next{
    right: 0;
}