/* ---- ----- ----- area del menu----- ----- ----- */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul,ol{
	list-style: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
}

header {
	width: 100%;
	background: #001D3D;
	height: 80px;
}

.contenedor_cabecera {
	background: #001D3D;
	width: 90%;
	margin: auto;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	width: 20%;
	height: 80px;
	background: #001D3D;
	float:left;
	padding-top: 10px;
}

.logo p a{
	
	color: #fff;
	font-size: 40px;
	font-family:'Open Sans';
	text-decoration: none;
}

.navegacion{
	width: 80%;
	height: 80px;
	font-size: 20px;
	padding-top: 30px;
	z-index: 1000;
	display: flex;
	justify-content: flex-end;
}



header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	font-size: 40px;
}

header nav a {
	color:#ffff;
	text-decoration: none;
	margin-right: 30px;
}

header nav a:hover,
header nav a.activo {
	color:  #FFC300;
	transition: .3s;
}

.navegacion ul{
	list-style: none;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width:100%;
}

.submenu{
	position: absolute;
	background: #666666;
	width: 300px;
	display: none;
	z-index:10
}

.submenu li a{
	font-size: 20px;
}

.menu li:hover .submenu{
	display:block;
}

.login-signup-menu {
	background-color: #666666;
	padding: 5px;
	min-width: 50px;
	min-height: 50px;
	position: absolute;
	top: 80px;
	right: 32px;
	display: none;
	flex-direction: column;

}

.login-signup-menu a{
	color:#fff;
	
}
.login-signup-menu a:hover{
	cursor: pointer;
	color:#FFC300;

}
/* ---- ----- ----- area del login----- ----- ----- */



.login{
	/*.background-image: linear-gradient(to right,#ffff,#7777);
	
	height: 600px;*/
	object-fit: contain;
	background: url(../imagenes/imagen.jpeg);
	background-repeat:no-repeat ;
	background-position: center;
	background-size: cover;
	min-height: 740px;
	margin-top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	
	
	
}

.cod-container{
	margin: auto;
	align-items: center;
	background: rgba(255, 255, 255, .85);
	width: 1000px;
	height: 600px;
	position: relative;
	margin:0px auto;
	border-radius: 5px;
	overflow: hidden;
	
}

.login h1{
	font-size: 22px;
	margin-bottom: 32px;
	color: #fff;
	text-transform: uppercase;
	font-family: "raleway";
}
.form-title{
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 12px;
	margin-bottom: 32px;
	color: #FFC300;
	overflow: hidden;
	font-family: "raleway";
	
}

.login h3{
	position: relative;
	display: inline-block;
	color:#FFC300;
	padding: 0 10px;
	font-weight: normal;
}


.form-header{
	background:#001D3D ;
	text-align: center;
	padding: 20px 0 20px 0;
	clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
	
}


.form-register {
	width: 600px;
	background: #fffdfd;
	padding: 30px;
	margin: auto;
	margin-top: 0px;
	margin-left: 200px;
	border-radius: 4px;
	font-family: "raleway";
	color: white;
	box-shadow: 5px  5px 10px #FFC300;

}

.control{
	width: 40%;
	background: #ffffff;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 2px solid #001D3D;
	font-family: "raleway";
	font-size: 18px;
	text-align: center;
	margin-left: 40px;
	
}

.cod-form{
	width: 50%;
	height: auto;
	text-align: center;
	padding: 10px 40px 40px;
	
}
/*.input-group{
	position: relative;
	margin-bottom: 20px;
}*/

.form-input:focus+ label{
	top: -14px;
	font-size: 20px;
	color:#666565;
	font-family:"raleway" ;
}
label {
	font-family: "raleway";
	height: 40px;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
	margin-left: 430px;
	padding: 12px;
	
}

button[type="submit"] {
	background: #666565;
	border: none;
	padding: 12px;
	color: white;
	margin: 10px 0;
	font-size: 16px;
	margin-left: 460px;
}






/* ---- ----- ----- footer----- ----- ----- 

.footer{
	width: 100%;
	color: white;
	background: #061838;
	
}
.contenedorfooter{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
	margin-top: 50px;
	
}
.box_footer{
	display:flex;
	flex-direction: column;
	
}
.box_footer h2{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
}
.box_footer a {
	color: black;
	text-decoration: none;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	margin-top: 10px;
}
.box_footer a:hover{
	opacity: 0.8;
}
.box_footer i{
	color: black;
	font-size: 22px;
}
.art{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
}
.art img{
	width: 100px;
	height: 60px;
}
.contenedor_art{
	display:flex;
	flex-direction: column;
	margin-top: 50px;
	justify-content: space-between;
}

.contenedor_art small{
	font-size: 15px;
	color:#c79fac ;
}
.contenedor_art a{
	color: black;
	text-decoration: none;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: 400;
	margin-top: 10px;
}
.contenedor_art a:hover{
	opacity: 0.8;
}