/* ---- ----- ----- area del menu----- ----- ----- */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul,ol{
	list-style: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	display: flex;
	flex-direction: column;
}

header {
	width: 100%;
	background: #001D3D;
	height: 80px;
}

.contenedor_cabecera {
	background: #001D3D;
	width: 90%;
	margin: auto;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	width: 20%;
	height: 80px;
	background: #001D3D;
	float:left;
	
}


.navegacion{
	width: 80%;
	height: 80px;
	font-size: 20px;
	padding-top: 30px;
	z-index: 1000;
	display: flex;
	justify-content: flex-end;
}



header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	font-size: 40px;
}

header nav a {
	color:#ffff;
	text-decoration: none;
	margin-right: 30px;
}

header nav a:hover {
	color:  #FFC300;
	transition: .3s;
}

.navegacion ul{
	list-style: none;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width:100%;
}

.submenu{
	position: absolute;
	background: #666666;
	width: 300px;
	display: none;
	z-index:10
}

.submenu li a{
	font-size: 20px;
}

.menu li:hover .submenu{
	display:block;
}

.login-signup-menu {
	background-color: #666666;
	padding: 5px;
	min-width: 50px;
	min-height: 50px;
	position: absolute;
	top: 80px;
	right: 32px;
	display: none;
	flex-direction: column;

}

.login-signup-menu a{
	color:#fff;
	
}
.login-signup-menu a:hover{
	cursor: pointer;
	color:#FFC300;

}

/* ---- ----- ----- footer----- ----- ----- */

.footer{
	position: relative;
	width: 100%;
	height:120px ;
	color: white;
	background: #061838;
	
	display: flex;
	align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    gap: 10px;
	
}	

.footer-icons {
	gap: 10px;
  }
  
  .content-logo {
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  
  .footer-ico {
	width: 18px;
	height: 18px;
  }
  .column {
	display: flex;
	flex-direction: column;
  }
  
  .row {
	display: flex;
	flex-direction: row;
  }

