<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../../static/styles/Registro/estilo.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/MetropolisWebProyect/static/styles/PaginaPrincipal/font-awesome.css"
    />
    <script src="/MetropolisWebProyect/static/js/PaginaPrincipal/jquery-3.1.0.min.js"></script>
    <script src="/MetropolisWebProyect/static/js/Login/formulario.js"></script>
    <title>registro</title>
  </head>

  <body>
    <header class="header row">
      <div class="contenedor_cabecera row">
        <div class="logo">
          <a href="/">
            <img src="../../static/images/Navigation/LogoMain.png" alt=""
          /></a>
        </div>
        <nav class="navegacion row">
          <a
            href="/"
            class="activo"
            >Cartelera</a
          >
          <a href="../Funcion/funcion.html">Teatro</a>
          <a href="dulceria">Dulceria</a>
          <a href="nosotros">Nosotros</a>
          <ul class="menu">
            <div class="row">
              <ul class="submenu">
                <li>
                  <a href="informacion_sobre_nosotros"
                    >Información sobre nosotros</a
                  >
                </li>
                <li>
                  <a href="servicios_empresariales">Servicios empresariales</a>
                </li>
                <li><a href="salas">Salas</a></li>
                <li><a href="contactos">Contactos</a></li>
              </ul>
            </div>
            <div style="display: flex; flex-direction: row">
              <li style="margin-right: 70px">
                <div class="navegador">
                  <form
                    class="navegadorpagina"
                    method="GET"
                    action="aca iria la ruta para buscar cualquier cosa de la pagina"
                    name="formbusqueda"
                    id="formbusqueda"
                    autocomplete="off"
                  >
                    <input
                      id="inputHome"
                      placeholder="Que estas buscando..."
                      class="usuario.busca"
                      type="text"
                      name="usuario-escribe"
                      target="right top"
                    />
                  </form>
                </div>
              </li>
              <li style="float: right" id="avatarIcon">
                <span
                  class="fa fa-user-circle"
                  style="color: white; font-size: 32px"
                ></span>
                <div class="login-signup-menu" id="loginSignupMenu">
                  <a href="/MetropolisWebProyect/templates/Login/inicio.html"
                    >login</a
                  >
                  <a href="registrarse">registro</a>
                </div>
              </li>
            </div>
          </ul>
        </nav>
      </div>
    </header>
    <div class="SignUp">

      <div class="cod-container">
        <form class="form-inline" role="form" name="formulario">
          <div class="form-group-body row">
            <div class="column form-group-body-col">
              <input
                class="control"
                type="text"
                name="nombres"
                id="nombres"
                placeholder="Nombre Completo"
              />
              <input
                class="control"
                type="email"
                name="email"
                id="email"
                placeholder="Correo Electronico"
              />
              <input
                class="control"
                type="text"
                name="documento"
                id="documento"
                placeholder="Documento De Identidad"
              />
              <input
                class="control"
                type="text"
                name="ciudad"
                id="ciudad"
                placeholder="Ingrese Su Ciudad"
              />
              <input
                class="control"
                type="password"
                name="contraseña"
                id="contraseña"
                placeholder="Ingrese Una Contraseña"
              />
            </div>
            <div class="column form-group-body-col">
              <input
                class="control"
                type="text"
                name="direccion"
                id="direccion"
                placeholder="Direccion"
              />
              <input
                class="control"
                type="number"
                name="celular"
                id="celular"
                placeholder="Numero de celular"
              />
              <input
                class="control"
                type="fechadenacimiento"
                name="fechadenacimiento"
                id="fechadenacimiento"
                placeholder="Fecha De Nacimiento"
              />
              <select
                class="control"
                type="genero"
                name="genero"
                id="genero"
                placeholder="Genero"
              >
                <option value="">Masculino</option>
                <option value="">Femenino</option>
              </select>
              <input
                class="control"
                type="password"
                name="confirmarcontraseña"
                id="confirmarcontraseña"
                placeholder="Confirme La Contraseña"
              />
            </div>
          </div>
          <div class="form-group column">
            <div class="checkbox">
              <label> <input type="checkbox" /> Acepta términos </label>
            </div>
            <input type="submit" class="btn btn-default" value="Registrar"></input>
          </div>
        </form>


      </div>
    </div>
    <footer class="column footer">
      <div class="row footer-icons">
        <div class="content-logo">
          <img
            src="../../static/images/Footer/flat-color-icons_google.svg"
            alt=""
            class="footer-ico"
          />
        </div>
        <div class="content-logo">
          <img
            src="../../static/images/Footer/logos_facebook.svg"
            alt=""
            class="footer-ico"
          />
        </div>
        <div class="content-logo">
          <img
            src="../../static/images/Footer/Vector.svg"
            alt=""
            class="footer-ico"
          />
        </div>
      </div>
      <div>Terms and Conditions & privacy policy</div>
    </footer>
  </body>
</html>
