/* ---- ----- ----- area del menu----- ----- ----- */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul,ol{
	list-style: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	display: flex;
	flex-direction: column;
}

header {
	width: 100%;
	background: #001D3D;
	height: 80px;
}

.contenedor_cabecera {
	background: #001D3D;
	width: 90%;
	margin: auto;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	width: 20%;
	height: 80px;
	background: #001D3D;
	float:left;
	
}


.navegacion{
	width: 80%;
	height: 80px;
	font-size: 20px;
	padding-top: 30px;
	z-index: 1000;
	display: flex;
	justify-content: flex-end;
}



header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	font-size: 40px;
}

header nav a {
	color:#ffff;
	text-decoration: none;
	margin-right: 30px;
}

header nav a:hover,
header nav a.activo {
	color:  #FFC300;
	transition: .3s;
}

.navegacion ul{
	list-style: none;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width:100%;
}

.submenu{
	position: absolute;
	background: #666666;
	width: 300px;
	display: none;
	z-index:10
}

.submenu li a{
	font-size: 20px;
}

.menu li:hover .submenu{
	display:block;
}

.login-signup-menu {
	background-color: #666666;
	padding: 5px;
	min-width: 50px;
	min-height: 50px;
	position: absolute;
	top: 80px;
	right: 32px;
	display: none;
	flex-direction: column;

}

.login-signup-menu a{
	color:#fff;
	
}
.login-signup-menu a:hover{
	cursor: pointer;
	color:#FFC300;

}
/* ---- ----- ----- area del login----- ----- ----- */



.login{
	/*.background-image: linear-gradient(to right,#ffff,#7777);
	
	height: 600px;*/
	object-fit: contain;
	background: url(/static/images/Login/imagen.jpeg);
	background-repeat:no-repeat ;
	background-position: center;
	background-size: cover;
	min-height: 740px;
	margin-top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	
	
	
}

.cod-container{
	margin: auto;
	align-items: center;
	background: rgba(255, 255, 255, .85);
	width: 400px;
	height: 450px;
	position: relative;
	margin:0px auto;
	border-radius: 5px;
	overflow: hidden;
	
}

.login h1{
	font-size: 22px;
	margin-bottom: 32px;
	color: #fff;
	text-transform: uppercase;
}
.form-title{
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 12px;
	margin-bottom: 32px;
	color: #FFC300;
	overflow: hidden;
	
}

.login h3{
	position: relative;
	display: inline-block;
	color:#FFC300;
	padding: 0 10px;
	font-weight: normal;
}

h3::after,
h3::before{
	position: absolute;
	content: '';
	width: 100%;
	height: 3px;
	background: #001D3D;
}

h3::after{
	left: 100%;
	
}

h3::before{
	right: 100%;
	
}


.form-header{
	background:#001D3D ;
	text-align: center;
	padding: 20px 0 20px 0;
	clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
	
}


.form-header img{
	vertical-align: 80%;
	width: 40px;
}

.cod-form{
	width: 100%;
	height: auto;
	text-align: center;
	padding: 10px 40px 40px;
	
}
.input-group{
	position: relative;
	margin-bottom: 40px;
}


input[type="email"],
input[type="password"]{
	background: rgba(255, 255, 255, .85);
	border: none;
	border-bottom: 2px solid #001D3D;
	width: 100%;
	outline: none;
	font-size: 14px;
	color:#545454;
	padding-left: 10px;
}

label{
	position:absolute;
	top:0;
	left: 0;
	font-size: 14px;
	color: #000;;
	padding-left:10px ;
	cursor:text;
	transition: all.3s ease;
}

.form-input:focus+ label{
	top: -14px;
	font-size: 12px;
	color:#666565;
	font-family:"raleway" ;
}
input[type="submit"] {
	border: 0.8;
	font-weight: bold;
	opacity: 0.9;
	cursor: pointer;
	border-radius: 36px;
	margin-bottom: 0;
	color: #fff;
    background-color: #001D3D;
    border-color: #001D3D;
	padding: 5px 8px;
}






/* ---- ----- ----- footer----- ----- ----- */

.footer{
	position: relative;
	width: 100%;
	height:120px ;
	color: white;
	background: #061838;
	
	display: flex;
	align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    gap: 10px;
	
}	

.footer-icons {
	gap: 10px;
  }
  
  .content-logo {
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  
  .footer-ico {
	width: 18px;
	height: 18px;
  }
  .column {
	display: flex;
	flex-direction: column;
  }
  
  .row {
	display: flex;
	flex-direction: row;
  }

