<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/styles/Login/estilo1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/PaginaPrincipal/font-awesome.css">
    <script src="/static/js/Login/jquery-3.6.0.min.js"></script>
	<script src="/static/js/Login/formulario.js"></script>
    
    <title>login</title>
</head>
<body>
    
    <!-- aqui comienza el menu de navegacion -->
    
    <header class="header">
        <div class="contenedor">
            <div class="contenedor_cabecera">
                <div class="logo">
                    <p> <a href="/templates/PaginaPrincipal/index.html"><img src="../../static/images/Navigation/LogoMain.png" alt=""></a> </p>
                </div>
                <nav class="navegacion">
                    <ul class="menu" style="float:right">
                        <div style="display: flex; flex-direction: row;">
                            <li> <a href="/templates/PaginaPrincipal/index.html" class="activo">Cartelera</a> </li>
                            <li> <a href="teatro">Teatro</a> </li>
                            <li> <a href="dulceria">Dulceria</a> </li>
                            <li> <a href="nosotros">Nosotros</a>
                                <ul class="submenu">
                                    <li> <a href="informacion_sobre_nosotros">Información sobre nosotros</a> </li>
                                    <li> <a href="servicios_empresariales">Servicios empresariales</a> </li>
                                    <li> <a href="salas">Salas</a></li>
                                    <li> <a href="contactos">Contactos</a></li>
                                </ul>
                            </li>
                        </div>
                        <div style="display: flex; flex-direction: row">
                            <li style="margin-right: 70px;">
                                <div class="navegador">
                                    <form class="navegadorpagina" method="GET"
                                    action="aca iria la ruta para buscar cualquier cosa de la pagina"
                                    name="formbusqueda" id="formbusqueda" autocomplete="off">
                                    <input id="inputHome" placeholder="Que estas buscando..." class="usuario.busca"
                                    type="text" name="usuario-escribe" target="right top">
                                </form>
                            </div>
                        </li>
                        <li style="float: right" id="avatarIcon">
                            <span class="fa fa-user-circle" style="color: white; font-size: 32px;"></span>
                            <div class="login-signup-menu" id="loginSignupMenu">
                                 <a href="/templates/Login/inicio.html"  >login</a> 
                                 <a href="/templates/Registro/registro.html" >registro</a> 
                            </div>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>
        
    </header>
    
    <!-- aqui termina el menu de navegacion -->
    
    
    <div class="hola">
        <div class="login">
            
            <div class="cod-container">
                <div class="form-header">
                    <img src="/static/images/Login/logo1.png" alt="logo de cineMetropolis" >
                    <h1> Bienvenido </h1>
                </div>
                
                <div class="form-content">
                    <form action="#" class="cod-form">
                        <div class="form-title">
                            <h3>Ingrese a su cuenta</h3>
                        </div>
                        <div class="input-group">
                            <input type="email" class ="form-input" name="form-input" id="correo">
                            <label class="label" for="correo">correo</label>
                            
                        </div>
                        
                        <div class="input-group">
                            <input type="password" class ="form-input" name="form-input" id="pass">
                            <label class="label" for="pass">contraseña</label>
                            
                        </div>
                        
                        
                        
                        <div class="input-group">
                            <input type="submit" value="Iniciar Sesión" style="margin: 0% 10px;" onclick="validate()">
                            
                            
                        </div>

                        <div class="input-group">
                            
                            <p>No tienes cuenta? <a href="/templates/Registro/registro.html"class="alt-form"> Ingresa aquí </a></p>
                            
                        </div>
                        
                        
                    </form>
                </div>
                
                
            </div>
            
            
            
        </div>
    </div>
    
    
    <!-- footer -->
    <!-- footer -->
    
    <footer class="column footer">
		<div class="row footer-icons">
		  <div class="content-logo">
			<img
			  src="../../static/images/Footer/flat-color-icons_google.svg"
			  alt=""
			  class="footer-ico"
			/>
		  </div>
		  <div class="content-logo">
			<img
			  src="../../static/images/Footer/logos_facebook.svg"
			  alt=""
			  class="footer-ico"
			/>
		  </div>
		  <div class="content-logo">
			<img
			  src="../../static/images/Footer/Vector.svg"
			  alt=""
			  class="footer-ico"
			/>
		  </div>
		</div>
		<div>Terms and Conditions & privacy policy</div>
	  </footer>
                                    
                                    
                                    
                                </body>
                                </html>