<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../../static/styles/Funcion/funcion.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/MetropolisWebProyect/static/styles/PaginaPrincipal/font-awesome.css"
    />
    <script src="/MetropolisWebProyect/static/js/PaginaPrincipal/jquery-3.1.0.min.js"></script>
    <script src="/MetropolisWebProyect/static/js/Login/formulario.js"></script>
    <title>Funcion</title>
  </head>
  
  <body>
    <header class="header row">
      <div class="contenedor_cabecera row">
        <div class="logo">
          <a href="/">
            <img src="../../static/images/Navigation/LogoMain.png" alt=""
          /></a>
        </div>
        <nav class="navegacion row">
            <a
                href="/" class="activo">
                Cartelera
            </a>
          <a href="teatro">Teatro</a>
          <a href="dulceria">Dulceria</a>
          <a href="nosotros">Nosotros</a>
          <ul class="menu">
            <div class="row">
              <ul class="submenu">
                <li>
                  <a href="informacion_sobre_nosotros"
                    >Información sobre nosotros</a>
                </li>
                <li>
                  <a href="servicios_empresariales">Servicios empresariales</a>
                </li>
                <li><a href="salas">Salas</a></li>
                <li><a href="contactos">Contactos</a></li>
              </ul>
            </div>
            <div style="display: flex; flex-direction: row">
              <li style="margin-right: 70px">
                <div class="navegador">
                  <form
                    class="navegadorpagina"
                    method="GET"
                    action="aca iria la ruta para buscar cualquier cosa de la pagina"
                    name="formbusqueda"
                    id="formbusqueda"
                    autocomplete="off"
                  >
                    <input
                      id="inputHome"
                      placeholder="Que estas buscando..."
                      class="usuario.busca"
                      type="text"
                      name="usuario-escribe"
                      target="right top"
                    />
                  </form>
                </div>
              </li>
              <li style="float: right" id="avatarIcon">
                <span
                  class="fa fa-user-circle"
                  style="color: white; font-size: 32px"
                ></span>
                <div class="login-signup-menu" id="loginSignupMenu">
                  <a href="/login">login</a>
                  <a href="funcion">Funcion</a>
                </div>
              </li>
            </div>
          </ul>
        </nav>
      </div>
    </header>
    <div class="SignUp">
      <div class="cod-container">
                <div class="form-inline-container">
                    <div class="column form-group-body-col1" >
                      <img src="/static/images/funcion/ralph.jpg" alt="" class="funcion" id="funcion"">
                    </div>
                    <div class="column form-group-body-col2">
                      <h2 id="titulo">Ralph: El demoledor</h2> <br>
                      <p id="sinopsis"><span style="color:#ffc300">Sinopsis:</span>La película cuenta la historia de Ralph, el Demoledor, un villano de un videojuego de la década 1980 y década 1990 en una de las más famosas maquinas de arcade de 8-bits llamada Repara-Félix Jr., que esta cansado de ser el antagonista malvado. Desea demostrarle a los demás que también puede hacer cosas buenas. Todo esto tiene lugar en los espacios virtuales dentro de las maquinas arcades locales de un salón de videojuegos llamado Litwak's Arcade. </p> <br>
                      <!-- <p id="original"><span style="color:#ffc300">Original:</span></p> <br> -->
                      <p id="reparto"><span style="color:#ffc300">Reparto:</span>Adam Carolla, Alan Tudyk, April Stewart, Ava Acres, Bob Bergen, Brandon Scott, Brian Kesinger, Cymbre Walk, Daniel Kaz, Dave Kohut, David Boat, David Cowgill, Debi Derryberry, Dennis Haysbert, </p> <br>
                      <p id="director"><span style="color:#ffc300">Director:</span>Kelly Feeg, Matsune Suzuki, Merrick Rustia, Rich Moore, Rick Moore, Rob Dressel </p> <br>
                    </div>
                </div>
                <div  class="container2">
                  <h4>OCT</h4>
                  <div class="content">
                    
                  </div>
                  <div class="content">
                    
                  </div>
                  <div class="content">
                    
                  </div>
                  <div class="content">
      
                  </div>
                  <div class="content">
                    
                  </div>
                  <h4>Funciones</h4> <br>
                    <nav>
                      <ul class="horario-funciones column">
                          <li class="shedule-item">
                            <div class="row shedule-item-content">
                              <a href="">Americas</a>
                              <img src="../../static/images/PaginaPrincipal/motion_icon-desplazar-abajo.svg" alt="">
                            </div>
                            <ul class="horario row "> 
                                <a href="">1:00 pm</a>
                                <a href="">3:00 pm</a>
                                <a href="">6:00 pm</a>
                            </ul> 
                          </li>
                          <li class="shedule-item">
                            <div class="row shedule-item-content">
                              <a href="">Cedritos</a> 
                              <img src="../../static/images/PaginaPrincipal/motion_icon-desplazar-abajo.svg" alt="">
                            </div>
                            <ul class="horario row">
                              <a href="">1:00 pm</a>
                              <a href="">3:00 pm</a>
                              <a href="">6:00 pm</a>
                            </ul> 
                          </li>
                          <li class="shedule-item">
                            <div class="row shedule-item-content">
                              <a href="">Galerias</a>
                              <img src="../../static/images/PaginaPrincipal/motion_icon-desplazar-abajo.svg" alt="">
                            </div>
                            <ul class="horario row">
                              <a href="">1:00 pm</a>
                              <a href="">3:00 pm</a> 
                              <a href="">6:00 pm</a>
                            </ul> 
                          </li>
                          <li class="shedule-item">
                            <div class="row shedule-item-content">
                              <a href="">Ventura</a>
                              <img src="../../static/images/PaginaPrincipal/motion_icon-desplazar-abajo.svg" alt="">
                            </div>
                            <ul class="horario row">
                              <a href="">1:00 pm</a>
                              <a href="">3:00 pm</a> 
                              <a href="">6:00 pm</a>
                            </ul> 
                          </li>
                          <li class="shedule-item">
                            <div class="row shedule-item-content">
                              <a href="">Centro Mayor</a>
                              <img src="../../static/images/PaginaPrincipal/motion_icon-desplazar-abajo.svg" alt="">
                            </div>
                            <ul class="horario row">
                              <a href="">1:00 pm</a>
                              <a href="">3:00 pm</a> 
                              <a href="">6:00 pm</a>
                            </ul> 
                          </li>
                          <li class="shedule-item">
                            <div class="row shedule-item-content">
                              <a href="">Plaza Central</a>
                              <img src="../../static/images/PaginaPrincipal/motion_icon-desplazar-abajo.svg" alt="">
                            </div>
                            <ul class="horario row"> 
                              <a href="">1:00 pm</a>
                              <a href="">3:00 pm</a> 
                              <a href="">6:00 pm</a>
                            </ul> 
                          </li>
                      </ul>
                    </nav>

                </div>
      </div>
    </div>
    </div>
    <footer class="column footer">
      <div class="row footer-icons">
        <div class="content-logo">
          <img
            src="../../static/images/Footer/flat-color-icons_google.svg"
            alt=""
            class="footer-ico"
          />
        </div>
        <div class="content-logo">
          <img
            src="../../static/images/Footer/logos_facebook.svg"
            alt=""
            class="footer-ico"
          />
        </div>
        <div class="content-logo">
          <img
            src="../../static/images/Footer/Vector.svg"
            alt=""
            class="footer-ico"
          />
        </div>
      </div>
      <div>Terms and Conditions & privacy policy</div>
    </footer>
  </body>
</html>
