<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../../static/styles/Funcion/funcion.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/MetropolisWebProyect/static/styles/PaginaPrincipal/font-awesome.css"
    />
    <script src="/MetropolisWebProyect/static/js/PaginaPrincipal/jquery-3.1.0.min.js"></script>
    <script src="/MetropolisWebProyect/static/js/Login/formulario.js"></script>
    <title>Funcion</title>
  </head>
  
  <body>
    <header class="header row">
      <div class="contenedor_cabecera row">
        <div class="logo">
          <a href="../PaginaPrincipal/index.html">
            <img src="../../static/images/Navigation/LogoMain.png" alt=""
          /></a>
        </div>
        <nav class="navegacion row">
          <a
            href="/MetropolisWebProyect/templates/PaginaPrincipal/index.html"
            class="activo"
            >Cartelera</a
          >
          <a href="teatro">Teatro</a>
          <a href="dulceria">Dulceria</a>
          <a href="nosotros">Nosotros</a>
          <ul class="menu">
            <div class="row">
              <ul class="submenu">
                <li>
                  <a href="informacion_sobre_nosotros"
                    >Información sobre nosotros</a
                  >
                </li>
                <li>
                  <a href="servicios_empresariales">Servicios empresariales</a>
                </li>
                <li><a href="salas">Salas</a></li>
                <li><a href="contactos">Contactos</a></li>
              </ul>
            </div>
            <div style="display: flex; flex-direction: row">
              <li style="margin-right: 70px">
                <div class="navegador">
                  <form
                    class="navegadorpagina"
                    method="GET"
                    action="aca iria la ruta para buscar cualquier cosa de la pagina"
                    name="formbusqueda"
                    id="formbusqueda"
                    autocomplete="off"
                  >
                    <input
                      id="inputHome"
                      placeholder="Que estas buscando..."
                      class="usuario.busca"
                      type="text"
                      name="usuario-escribe"
                      target="right top"
                    />
                  </form>
                </div>
              </li>
              <li style="float: right" id="avatarIcon">
                <span
                  class="fa fa-user-circle"
                  style="color: white; font-size: 32px"
                ></span>
                <div class="login-signup-menu" id="loginSignupMenu">
                  <a href="/MetropolisWebProyect/templates/Login/inicio.html"
                    >login</a
                  >
                  <a href="funcion">Funcion</a>
                </div>
              </li>
            </div>
          </ul>
        </nav>
      </div>
    </header>
    <div class="SignUp">
      <div class="cod-container row">
        <div class="form-inline-container">
          <div class="column form-group-body-col1">
            <img
              src="../../static/images/PaginaPrincipal/peli4.jpg"
              alt=""
              class="funcion"
            />
          </div>
          <div class="column form-group-body-col2">
            <div class="body-col2-content cont-1">
              <h1 class="title">SIN TIEMPO PARA MORIR</h1>
            </div>
            <div class="body-col2-content cont-2 column">
              <div class="row content-description">
                <div class="column">
                  <div class="sub-title-description">Sinopsis:</div>
                </div>
                <div class="column">
                  <p class="paragraph-description">
                    En Sin Tiempo Para Morir, Bond ha dejado el servicio activo
                    y disfruta de una vida tranquila en Jamaica. Su paz es
                    efímera cuando su viejo amigo Félix Leiter de la CIA aparece
                    pidiendo ayuda. La misión de rescatar a un científico
                    secuestrado resulta ser mucho más traicionera de lo
                    esperado, llevando a Bond a la pista de un misterioso
                    villano armado con nueva tecnología peligrosa.
                  </p>
                </div>
              </div>
              <div class="row content-description">
                <div class="column">
                  <div class="sub-title-description">Original:</div>
                </div>
                <div class="column">
                  <p class="paragraph-description">No Time to die</p>
                </div>
              </div>
              <div class="row content-description">
                <div class="column">
                  <div class="sub-title-description">Reparto:</div>
                </div>
                <div class="column">
                  <p class="paragraph-description">
                    Daniel Craig, Ralph Fiennes, Naomie Harris, Rory Kinnear,
                    Léa Seydoux, Ben Whishaw, Jeffrey Wright, Ana de Armas, Dali
                    Benssalah, David Dencik, Lashana Lynch, Billy Magnussen and
                    Rami Malek.
                  </p>
                </div>
              </div>
              <div class="row content-description">
                <div class="column">
                  <div class="sub-title-description">Director:</div>
                </div>
                <div class="column">
                  <p class="paragraph-description">Cary Joji Fukunaga</p>
                </div>
              </div>
            </div>
            <div class="content-button-play">
              <a
                href="https://www.youtube.com/watch?v=90HtfG6dZAM"
                class="row button-play"
              >
                <div>VER TRAILER</div>
                <div>
                  <img
                    src="../../static/images/PaginaPrincipal/PlayIcon.svg"
                    alt=""
                    class="ico-play"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="container2">
          <div>OCT</div>
          <div class="row content-dates">
            <div class="content"></div>
            <div class="content"></div>
            <div class="content"></div>
            <div class="content"></div>
            <div class="content"></div>
          </div>
          <h4>Funciones</h4>
          <br />
          <nav>
            <ul class="horario-funciones column">
              <li class="shedule-item">
                <div class="row shedule-item-content">
                  <a href="">Americas</a>
                  <img
                    src="../../static/images/PaginaPrincipal/motion_icon-desplazar-abajo.svg"
                    alt=""
                  />
                </div>
                <ul class="horario row">
                  <a href="">1:00 pm</a>
                  <a href="">3:00 pm</a>
                  <a href="">6:00 pm</a>
                </ul>
              </li>
              <li class="shedule-item">
                <div class="row shedule-item-content">
                  <a href="">Cedritos</a>
                  <img
                    src="../../static/images/PaginaPrincipal/motion_icon-desplazar-abajo.svg"
                    alt=""
                  />
                </div>
                <ul class="horario row">
                  <a href="">1:00 pm</a>
                  <a href="">3:00 pm</a>
                  <a href="">6:00 pm</a>
                </ul>
              </li>
              <li class="shedule-item">
                <div class="row shedule-item-content">
                  <a href="">Galerias</a>
                  <img
                    src="../../static/images/PaginaPrincipal/motion_icon-desplazar-abajo.svg"
                    alt=""
                  />
                </div>
                <ul class="horario row">
                  <a href="">1:00 pm</a>
                  <a href="">3:00 pm</a>
                  <a href="">6:00 pm</a>
                </ul>
              </li>
              <li class="shedule-item">
                <div class="row shedule-item-content">
                  <a href="">Ventura</a>
                  <img
                    src="../../static/images/PaginaPrincipal/motion_icon-desplazar-abajo.svg"
                    alt=""
                  />
                </div>
                <ul class="horario row">
                  <a href="">1:00 pm</a>
                  <a href="">3:00 pm</a>
                  <a href="">6:00 pm</a>
                </ul>
              </li>
              <li class="shedule-item">
                <div class="row shedule-item-content">
                  <a href="">Centro Mayor</a>
                  <img
                    src="../../static/images/PaginaPrincipal/motion_icon-desplazar-abajo.svg"
                    alt=""
                  />
                </div>
                <ul class="horario row">
                  <a href="">1:00 pm</a>
                  <a href="">3:00 pm</a>
                  <a href="">6:00 pm</a>
                </ul>
              </li>
              <li class="shedule-item">
                <div class="row shedule-item-content">
                  <a href="">Plaza Central</a>
                  <img
                    src="../../static/images/PaginaPrincipal/motion_icon-desplazar-abajo.svg"
                    alt=""
                  />
                </div>
                <ul class="horario row">
                  <a href="">1:00 pm</a>
                  <a href="">3:00 pm</a>
                  <a href="">6:00 pm</a>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <footer class="column footer">
      <div class="row footer-icons">
        <div class="content-logo">
          <img
            src="../../static/images/Footer/flat-color-icons_google.svg"
            alt=""
            class="footer-ico"
          />
        </div>
        <div class="content-logo">
          <img
            src="../../static/images/Footer/logos_facebook.svg"
            alt=""
            class="footer-ico"
          />
        </div>
        <div class="content-logo">
          <img
            src="../../static/images/Footer/Vector.svg"
            alt=""
            class="footer-ico"
          />
        </div>
      </div>
      <div>Terms and Conditions & privacy policy</div>
    </footer>
  </body>
</html>
