* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul,ol{
	list-style: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;

	display: grid;
  	grid-template-areas: "header "
                       "main "
                       "footer ";
}

header {
	width: 100%;
    background: #001D3D;
    height: 80px;
}

.contenedor_cabecera {
    background: #001D3D;
	width: 90%;
	margin: auto;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
    width: 20%;
    height: 80px;
    background: #001D3D;
    float:left;
    
}



.navegacion{
	width: 80%;
    height: 80px;
    font-size: 20px;
    padding-top: 30px;
    z-index: 1000;
	display: flex;
	justify-content: flex-end;
}



header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	font-size: 40px;
}

header nav a {
	color:#ffff;
    text-decoration: none;
    margin-right: 30px;
}

header nav a:hover,
header nav a.activo {
	color:  #FFC300;
    transition: .3s;
}

.navegacion ul{
    list-style: none;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.submenu{
    position: absolute;
    background: #666666;
    width: 300px;
    display: none;
    z-index:10
}

.submenu li a{
    font-size: 20px;
}

.menu li:hover .submenu{
    display:block;
}

.login-signup-menu {
	background-color: #666666;
	padding: 5px;
	min-width: 50px;
	min-height: 50px;
	position: absolute;
	top: 80px;
	right: 32px;
	display: none;
	flex-direction: column;
}

.login-signup-menu a{
	color:#fff;
	
}
.login-signup-menu a:hover{
	cursor: pointer;
	color:#FFC300;

}

/* ---- ----- ----- slider ----- ----- ----- */



.slideshow{
	width: 100%;
	position: relative;
}

.slider li, ul{
	width: 100%;
}

.slider li{
	overflow: hidden;
}

.slider li img{
	width: 100%;
	height: 450px;
	object-fit: cover;
}

.slider .caption{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 15px 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	color: #fff;
	z-index: 1;
}

.slider .caption h1{
	font-size: 50px;
}

.slider .caption p{
	margin-top: 10px;
	font-size: 20px;
}

.pagination{
	position: absolute;
	top: 102%;
	width: 100%;

	display: flex;
	justify-content: center;
}

.pagination li{
	font-size: 20px;
	margin: 2px 5px;
	color: #858585;
	cursor: pointer;
}

.left, .right{
	position: absolute;
	top: 0;
	height: 100%;

	display: flex;
	align-items: center;

	color: #fff;
	font-size: 35px;
	cursor: pointer;
	z-index: 2;
}

.left{
	left: 10px;
}

.right{
	right: 10px;
}


@media screen and (max-width: 600px){
	.slider .caption p{
		display: none;
	}

	.slider .caption h1{
		font-size: 35px;
	}

	.left, .right{
		font-size: 30px;
	}

	.slider li img{
		width: 600px;
	}

	.pagination{
		display: none;
	}
}


/* ---- ----- ----- Peliculas ----- ----- ----- */

.cartelera h1{
	font-size: 53px;
	padding: 20px;
	margin-left: 10%;
	margin-top: 60px;
	
}

.latest-movies{
    position: absolute;
    width:100%;
    background-color: white;
    margin-top: 1000px;
    padding: 0px 20px;
}

.latest-movies h1{
	margin-top: 0;
    font-size: 30px;  
    
}

.latest-container{
    padding: 10px 0px;
}

.latest-container{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.latest-inside img{
    max-height: 122px;
    cursor: pointer;
    padding: 4px;
    transition: all 400ms ease-in-out;
}

.latest-inside img:hover{
    transform: scale(1.2);
}

.heading1{
    color: black;
    line-height: 1.5;
}
.heading1 h4{
    font-size: 15px;
}
.heading1 h6{
    font-size: 12px;
}
.btn2{
    margin-top: -30px;
    margin-left: 140px;
}
.btn2 a{
    font-size: 13px;
    text-decoration: none;
    background: teal;
    padding: 7px 7px;
    border-radius: 10%;
    color: white;

}



/* ---- ----- ----- footer----- ----- ----- */

.footer{
	position: relative;
	width: 100%;
	height:100px ;
	color: white;
	background: #061838;
	margin-top: 1200px;
	display: flex;
	align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    gap: 10px;
	
}	

.footer-icons {
	gap: 10px;
  }
  
  .content-logo {
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  
  .footer-ico {
	width: 18px;
	height: 18px;
  }
  .column {
	display: flex;
	flex-direction: column;
  }
  
  .row {
	display: flex;
	flex-direction: row;
  }





