<!-- este es el html de la pagina principal, las carpetas fonts img js css son de esta misma pagina-->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/styles/PaginaPrincipal/estilos1.css">
	<link rel="stylesheet" href="/static/styles/PaginaPrincipal/font-awesome.css">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"
		rel="stylesheet">
	<title>Cine Metrópolis</title>
	<script src="/static/js/PaginaPrincipal/jquery-3.1.0.min.js"></script>
	<script src="/static/js/PaginaPrincipal/main.js"></script>
</head>

<!-- aqui comienza el menu de navegacion -->

<body>
	<header class="header">
		<div class="contenedor">
			<div class="contenedor_cabecera">
				<div class="logo">
					<p> <a href="index.html"><img src="../../static/images/Navigation/LogoMain.png" alt=""></a> </p>

				</div>
				<nav class="navegacion">
					<ul class="menu" style="float:right">
						<div style="display: flex; flex-direction: row;">
							<li> <a href="../PaginaPrincipal/index.html" class="activo">Cartelera</a> </li>
							<li> <a href="../Funcion/funcion.html">Teatro</a> </li>
							<li> <a href="dulceria">Dulceria</a> </li>
							<li> <a href="nosotros">Nosotros</a>
								<ul class="submenu">
									<li> <a href="informacion_sobre_nosotros">Información sobre nosotros</a> </li>
									<li> <a href="servicios_empresariales">Servicios empresariales</a> </li>
									<li> <a href="salas">Salas</a></li>
									<li> <a href="contactos">Contactos</a></li>
								</ul>
							</li>
						</div>
						<div style="display: flex; flex-direction: row">
							<li style="margin-right: 70px;">
								<div class="navegador">
									<form class="navegadorpagina" method="GET"
										action="aca iria la ruta para buscar cualquier cosa de la pagina"
										name="formbusqueda" id="formbusqueda" autocomplete="off">
										<input id="inputHome" placeholder="Que estas buscando..." class="usuario.busca"
											type="text" name="usuario-escribe" target="right top">
									</form>
								</div>
							</li>
							<li style="float: right" id="avatarIcon">
								<span class="fa fa-user-circle" style="color: white; font-size: 32px;"></span>
								<div class="login-signup-menu" id="loginSignupMenu">
									 
									<a href="/templates/Login/inicio.html">login</a> 
									<a href="/templates/Registro/registro.html">registro</a> 

								</div>
							</li>
						</div>
					</ul>
				</nav>
			</div>

	</header>
	<!-- aqui termina el menu de navegacion -->

	<!-- aqui empieza el slider -->

	<main>
		<div class="slideshow">
			<ul class="slider">
				<li>
					<img src="/static/images/PaginaPrincipal/Age-of-Ultron.png.opdownload" alt="">
					<section class="caption">
						
						
					</section>
				</li>
				<li>
					<img src="/static/images/PaginaPrincipal/Venom-Banner.png.opdownload" alt="">
					<section class="caption">
						
						
					</section>
				</li>
				<li>
					<img src="/static/images/PaginaPrincipal/ralph-banner.jpg" alt="">
					<section class="caption">
						
						
					</section>
				</li>
				<li>
					<img src="/static/images/PaginaPrincipal/peliculapr.jpeg" alt="">
					<section class="caption">
						
						
					</section>
				</li>
			</ul>

			<ol class="pagination">

			</ol>

			<div class="left">
				<span class="fa fa-chevron-left"></span>
			</div>

			<div class="right">
				<span class="fa fa-chevron-right"></span>
			</div>
		</div>
	</main>

	<!-- aqui termina el slider -->

	<!-- aqui comienza el footer -->

	--<div class="cartelera">
		<h1>Cartelera</h1>
		
	</div>
	<hr style="height:3px;border:none;color:#858585;background-color:#858585;margin-left: 10%;margin-right: 10%;">

	<div class="latest-movies">
		<h1>ULTIMOS ESTRENOS</h1>
		<div class="latest-container">
			<div class="latest-inside">
				<img src="/static/images/PaginaPrincipal/Ralph.jpg" alt="">
				<div class="heading1">
					<h4>Ralph</h4>
					<p><span>&#9733;&#9733;&#9733;&#9733;&#9734; </span></p>
					<h6>Action</h6>
				</div>
			   <div class="btn2">
				   <a href="/templates/Funcion/funcion2.html">Watch Now</a>
			   </div>
			</div>
			<div class="latest-inside">
				<img src="/static/images/PaginaPrincipal/endgame.jpg" alt="">
				<div class="heading1">
					<h4>avengers</h4>
					<p><span>&#9733;&#9733;&#9733;&#9733;&#9734; </span></p>
					<h6>Action</h6>
				</div>
			   <div class="btn2">
				   <a href="/templates/Funcion/funcion3.html">Watch Now</a>
			   </div>
			</div>
			<div class="latest-inside">
				<img src="/static/images/PaginaPrincipal/avatar.jpg" alt="">
				<div class="heading1">
					<h4>Avatar</h4>
					<p><span>&#9733;&#9733;&#9733;&#9733;&#9734; </span></p>
					<h6>Action</h6>
				</div>
			   <div class="btn2">
				   <a href="">Watch Now</a>
			   </div>
			</div>
			<div class="latest-inside">
				<img src="/static/images/PaginaPrincipal/hunter.jpg" alt="">
				<div class="heading1">
					<h4>Hunter</h4>
					<p><span>&#9733;&#9733;&#9733;&#9733;&#9734; </span></p>
					<h6>Action</h6>
				</div>
			   <div class="btn2">
				   <a href=""  onclick="movies('avenger')" >Watch Now</a>
			   </div>
			</div>

			<div class="latest-inside">
				<img src="/static/images/PaginaPrincipal/portada-war-horse2.jpg.crdownload" alt="">
				<div class="heading1">
					<h4>War Horse</h4>
					<p><span>&#9733;&#9733;&#9733;&#9733;&#9734; </span></p>
					<h6>Action</h6>
				</div>
			   <div class="btn2">
				   <a href="">Watch Now</a>
			   </div>
			</div>
		</div>
	</div>

	<footer class="column footer">
		<div class="row footer-icons">
		  <div class="content-logo">
			<img
			  src="../../static/images/Footer/flat-color-icons_google.svg"
			  alt=""
			  class="footer-ico"
			/>
		  </div>
		  <div class="content-logo">
			<img
			  src="../../static/images/Footer/logos_facebook.svg"
			  alt=""
			  class="footer-ico"
			/>
		  </div>
		  <div class="content-logo">
			<img
			  src="../../static/images/Footer/Vector.svg"
			  alt=""
			  class="footer-ico"
			/>
		  </div>
		</div>
		<div>Terms and Conditions & privacy policy</div>
	  </footer>

	

	
	





	
</body>

</html>