<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/styles/Cboleta/estiloCboleta.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/PaginaPrincipal/font-awesome.css">
    <script src="/static/js/Login/jquery-3.6.0.min.js"></script>
	<script src="/static/js/Login/formulario.js"></script>
    
    <title>Taquilla</title>
</head>
<body>
    
    <!-- aqui comienza el menu de navegacion -->
    
    <header class="header">
        <div class="contenedor">
            <div class="contenedor_cabecera">
                <div class="logo">
                    <p> <a href="/"><img src="../../static/images/Navigation/LogoMain.png" alt=""></a> </p>
                </div>
                <nav class="navegacion">
                    <ul class="menu" style="float:right">
                        <div style="display: flex; flex-direction: row;">
                            <li> <a href="/" class="activo">Cartelera</a> </li>
                            <li> <a href="">Teatro</a> </li>
                            <li> <a href="">Dulceria</a> </li>
                            <li> <a href="">Nosotros</a>
                                <ul class="submenu">
                                    <li> <a href="informacion_sobre_nosotros">Información sobre nosotros</a> </li>
                                    <li> <a href="servicios_empresariales">Servicios empresariales</a> </li>
                                    <li> <a href="salas">Salas</a></li>
                                    <li> <a href="contactos">Contactos</a></li>
                                </ul>
                            </li>
                        </div>
                        <div style="display: flex; flex-direction: row">
                            <li style="margin-right: 70px;">
                                <div class="navegador">
                                    <form class="navegadorpagina" method="GET"
                                    action="aca iria la ruta para buscar cualquier cosa de la pagina"
                                    name="formbusqueda" id="formbusqueda" autocomplete="off">
                                    <input id="inputHome" placeholder="Que estas buscando..." class="usuario.busca"
                                    type="text" name="usuario-escribe" target="right top">
                                </form>
                            </div>
                        </li>
                        <li style="float: right" id="avatarIcon">
                            <span class="fa fa-user-circle" style="color: white; font-size: 32px;"></span>
                            <div class="login-signup-menu" id="loginSignupMenu">
                                 <a href="/login">Login</a> 
                                 <a href="/registro" >Registro</a> 
                            </div>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>
        
    </header>

    <!-- campo de compra boleta -->

    <h1 class="auto-style2">SALA DE CINE</h1>
    <table class="auto-style1">
        <tr id="butaca">
            <td class="auto-style3">
                A</td>
            <td>
                &nbsp;</td>
            <td class="auto-style5">&nbsp;</td>
            <td class="auto-style15">
                1<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                2<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                3<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                4<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                5<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                6<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                7<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                8<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                9<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                10<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                11<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">&nbsp;</td>
            <td class="auto-style15">
                12<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                13<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                14<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                15<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                16<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                17<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                18<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                19<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                20<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                21<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                22<img alt="" src="imagenes/Butaca_rosada.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style10">&nbsp;</td>
            <td class="auto-style12">&nbsp;</td>
            <td class="auto-style3">A</td>
        </tr>
        <tr>
            <td class="auto-style3">B</td>
            <td class="auto-style6"></td>
            <td class="auto-style7"></td>
            <td class="auto-style14">
                1<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                2<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                3<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                4<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                5<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                6<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                7<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                8<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                9<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                10<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                11<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style8"></td>
            <td class="auto-style14">
                12<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                13<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                14<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                15<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                16<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                17<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                18<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                19<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                20<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                21<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                22<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style11"></td>
            <td class="auto-style13"></td>
            <td class="auto-style3">B</td>
        </tr>
        <tr>
            <td class="auto-style3">C</td>
            <td class="auto-style6"></td>
            <td class="auto-style7"></td>
            <td class="auto-style14">
                1<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                2<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                3<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                4<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                5<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                6<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                7<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                8<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                9<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                10<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                11<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style8"></td>
            <td class="auto-style14">
                12<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                13<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                14<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                15<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                16<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                17<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                18<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                19<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                20<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                21<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                22<img alt="" src="imagenes/Butaca_celeste.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style11"></td>
            <td class="auto-style13"></td>
            <td class="auto-style3">C</td>
        </tr>
</table>   

     <!-- footer -->
    
     <footer class="column footer">
		<div class="row footer-icons">
		  <div class="content-logo">
			<img
			  src="../../static/images/Footer/flat-color-icons_google.svg"
			  alt=""
			  class="footer-ico"
			/>
		  </div>
		  <div class="content-logo">
			<img
			  src="../../static/images/Footer/logos_facebook.svg"
			  alt=""
			  class="footer-ico"
			/>
		  </div>
		  <div class="content-logo">
			<img
			  src="../../static/images/Footer/Vector.svg"
			  alt=""
			  class="footer-ico"
			/>
		  </div>
		</div>
		<div>Terms and Conditions & privacy policy</div>
	  </footer>
                                    
                                    
                                    
                                </body>
                                </html>