<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/styles/Login/estilo1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/PaginaPrincipal/font-awesome.css">
    <script src="/static/js/Login/jquery-3.6.0.min.js"></script>
	<script src="/static/js/Login/formulario.js"></script>
    
    <title>Taquilla</title>
</head>
<body>
    
    <!-- aqui comienza el menu de navegacion -->
    
    <header class="header">
        <div class="contenedor">
            <div class="contenedor_cabecera">
                <div class="logo">
                    <p> <a href="/"><img src="../../static/images/Navigation/LogoMain.png" alt=""></a> </p>
                </div>
                <nav class="navegacion">
                    <ul class="menu" style="float:right">
                        <div style="display: flex; flex-direction: row;">
                            <li> <a href="/" class="activo">Cartelera</a> </li>
                            <li> <a href="">Teatro</a> </li>
                            <li> <a href="">Dulceria</a> </li>
                            <li> <a href="">Nosotros</a>
                                <ul class="submenu">
                                    <li> <a href="informacion_sobre_nosotros">Información sobre nosotros</a> </li>
                                    <li> <a href="servicios_empresariales">Servicios empresariales</a> </li>
                                    <li> <a href="salas">Salas</a></li>
                                    <li> <a href="contactos">Contactos</a></li>
                                </ul>
                            </li>
                        </div>
                        <div style="display: flex; flex-direction: row">
                            <li style="margin-right: 70px;">
                                <div class="navegador">
                                    <form class="navegadorpagina" method="GET"
                                    action="aca iria la ruta para buscar cualquier cosa de la pagina"
                                    name="formbusqueda" id="formbusqueda" autocomplete="off">
                                    <input id="inputHome" placeholder="Que estas buscando..." class="usuario.busca"
                                    type="text" name="usuario-escribe" target="right top">
                                </form>
                            </div>
                        </li>
                        <li style="float: right" id="avatarIcon">
                            <span class="fa fa-user-circle" style="color: white; font-size: 32px;"></span>
                            <div class="login-signup-menu" id="loginSignupMenu">
                                 <a href="/login">Login</a> 
                                 <a href="/registro" >Registro</a> 
                            </div>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>
        
    </header>

     <!-- footer -->
    
     <footer class="column footer">
		<div class="row footer-icons">
		  <div class="content-logo">
			<img
			  src="../../static/images/Footer/flat-color-icons_google.svg"
			  alt=""
			  class="footer-ico"
			/>
		  </div>
		  <div class="content-logo">
			<img
			  src="../../static/images/Footer/logos_facebook.svg"
			  alt=""
			  class="footer-ico"
			/>
		  </div>
		  <div class="content-logo">
			<img
			  src="../../static/images/Footer/Vector.svg"
			  alt=""
			  class="footer-ico"
			/>
		  </div>
		</div>
		<div>Terms and Conditions & privacy policy</div>
	  </footer>
                                    
                                    
                                    
                                </body>
                                </html>