/* ---- ----- ----- area del menu----- ----- ----- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  background: #001d3d;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.SignUp {
  height: calc(100% - 160px);
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.contenedor_cabecera {
  background: #001d3d;
  margin: auto;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 20%;
  background: #001d3d;
  float: left;
}

.logo p a {
  color: #fff;
  font-size: 40px;
  font-family: "Open Sans";
  text-decoration: none;
}

.navegacion {
  font-size: 20px;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
}

header .logotipo {
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  font-size: 40px;
}

header nav a {
  color: #ffff;
  text-decoration: none;
  margin-right: 30px;
}

header nav a:hover,
header nav a.activo {
  color: #ffc300;
  transition: 0.3s;
}

.navegacion ul {
  list-style: none;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.submenu {
  position: absolute;
  background: #666666;
  width: 300px;
  display: none;
  z-index: 10;
}

.submenu li a {
  font-size: 20px;
}

.menu li:hover .submenu {
  display: block;
}

.login-signup-menu {
  background-color: #666666;
  padding: 5px;
  min-width: 50px;
  min-height: 50px;
  position: absolute;
  top: 80px;
  right: 32px;
  display: none;
  flex-direction: column;
}

.login-signup-menu a {
  color: #fff;
}
.login-signup-menu a:hover {
  cursor: pointer;
  color: #ffc300;
}
/* ---- ----- ----- area del login----- ----- ----- */

.login {
  /*.background-image: linear-gradient(to right,#ffff,#7777);
	
	height: 600px;*/
<<<<<<< HEAD
  object-fit: contain;
  background: url(../imagenes/imagen.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 740px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-default {
  border-radius: 40px;
  background-color: #2f80ed;
  color: #fff;
  font-size: 0.75rem;
  padding: 1em;
  border: none;
  cursor: pointer;
}
.form-group {
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: space-between;
}
.form-group-body {
  width: 100%;
  justify-content: space-between;
  height: 80%;
}
.form-group-body-col {
  width: 40%;
  justify-content: space-between;
}
.cod-container {
  padding: 1rem 2rem;
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
}

.login h1 {
  font-size: 22px;
  margin-bottom: 32px;
  color: #fff;
  text-transform: uppercase;
  font-family: "raleway";
}
.form-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 32px;
  color: #ffc300;
  overflow: hidden;
  font-family: "raleway";
}

.login h3 {
  position: relative;
  display: inline-block;
  color: #ffc300;
  padding: 0 10px;
  font-weight: normal;
}

.form-header {
  background: #001d3d;
  text-align: center;
  padding: 20px 0 20px 0;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
=======
	object-fit: contain;
	background: url(/static/images/Login/imagen.jpeg);
	background-repeat:no-repeat ;
	background-position: center;
	background-size: cover;
	min-height: 740px;
	margin-top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	
	
	
}

.cod-container{
	margin: auto;
	align-items: center;
	background: rgba(255, 255, 255, .85);
	width: 1000px;
	height: 600px;
	position: relative;
	margin:0px auto;
	border-radius: 5px;
	overflow: hidden;
	
}

.login h1{
	font-size: 22px;
	margin-bottom: 32px;
	color: #fff;
	text-transform: uppercase;
	font-family: "raleway";
}
.form-title{
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 12px;
	margin-bottom: 32px;
	color: #FFC300;
	overflow: hidden;
	font-family: "raleway";
	
>>>>>>> 9f86a26bea748cbf37d73a49d8c42a2296f30559
}

.form-register {
  width: 600px;
  background: #fffdfd;
  padding: 30px;
  margin: auto;
  margin-top: 0px;
  margin-left: 200px;
  border-radius: 4px;
  font-family: "raleway";
  color: white;
  box-shadow: 5px 5px 10px #ffc300;
}

.form-inline {
  width: 100%;
  height: 100%;
}

.control {
  background: #ffffff;
  padding: 1em 0.5em;
  border-bottom: 1px solid #8a8a8a;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "raleway";
  font-size: 18px;
  margin-left: 40px;
  outline: none;
}

.cod-form {
  width: 50%;
  height: auto;
  text-align: center;
  padding: 10px 40px 40px;
}

.footer {
  background-color: #001d3d;
  height: 80px;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  gap: 10px;
}

.footer-icons {
  gap: 10px;
}

.content-logo {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-ico {
  width: 18px;
  height: 18px;
}
