* {
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    background-image: url(../images/background/back3.jpg);
    background-size: 100%;
}

.container{
    
    display: grid;
    height: 100vh;
    gap: 20px;
    grid-template: 
            "navbar navbar" 100px
            "sidebar usermain" 1fr /
              160px     1fr;
}

.navbar{
    grid-area: navbar;
    background-color: transparent;
}
.sidebar{
    grid-area: sidebar;
    background-color: #003566;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.usermain{
    grid-area: usermain;
    background-color: #F9FDFD;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template: 
        "usermain-search" 15%
        "usermain-table" auto /
               1fr;
}

.fa-film{
    color: #FFC300;
    width: 3rem;
}
.usericon{
    background: none;
    border: none;
}
.user-icon{
    width: 50px;
    height: 50px;
}
.user{
    margin: 0 60px;
    line-height: 130px;
    display: flex;
    align-items: center;
}
.film-logo{
    margin: 0px 38px;
    display: flex;
    align-items: center;
}
.user i{
    margin: 0 8px;
}
.fa-sort-down{
    font-size: 25px;
}
.fa-bell{
    font-size: 25px;
}

.header{
    display: flex;
    justify-content: space-between;
}
.sidebar{
    border-radius: 0px 80px 0px 0px;
    -webkit-border-radius: 0px 80px 0px 0px;
    -moz-border-radius: 0px 80px 0px 0px;
    -ms-border-radius: 0px 80px 0px 0px;
    -o-border-radius: 0px 80px 0px 0px;
}
.sidebar-menu{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.sidebar-menu-item{
   margin: 15px 0px;
   padding-left: 30px;
}

.button-sidebar{
    border: none;
    text-decoration: none;
    background: none;
    color: white;
}
.sidebar-menu-img{
    width: 30px;
    height: 30px;
}
.sidebar-menu-title{
    font-size: 15px;
    margin: 0px 10px;
}
.div-sidebar-button{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 2px 8px;
}

.div-sidebar-button-users{
    background-color: #5B81C8;
    border-radius: 18px 0px 0px 18px;
    -webkit-border-radius: 18px 0px 0px 18px;
    -moz-border-radius: 18px 0px 0px 18px;
    -ms-border-radius: 18px 0px 0px 18px;
    -o-border-radius: 18px 0px 0px 18px;
}

/*css tabla de usermain*/
td{
    text-align: center;
    padding: 15px 0px;
    
}
th,td{
    border-bottom: 1px solid #ddd;
}

.tr-color-gris{
    background-color: #F1F1F1;
}
.usermain-table{
    grid-area: usermain-table;
}
.usermain-search{
    position: relative;
    grid-area: usermain-search;
    display: flex;
    align-items: center;
    padding: 1rem;
}
.usermain-search input{
    padding: 20px 30px;
}
.btn-search{
    position: absolute;
    top: 2;
    left: 10px;
    line-height: 40px;
    width: 25px;
    height: 25px;
}
.search-users{
    background-color: #E5EDEC;
    box-sizing: border-box;
    font-size: 14px;
    width: 40%;
    height: 40%;
    padding: .4em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
}

.table{
    border-collapse: collapse;
    margin: 1rem;
    width: 95%;
}
.estado{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.estado-activo{
    background-color: #0A65FF;
}
.tr-thead{
    background-color: #003566;
    color: #FFFFFF;
}
.table-checkbox{

}
tr:nth-child(even) {background-color: #FFFFFF;}